In [135]:
import os
import csv
import json
import pandas as pd

In [136]:
def read_csv():
    with open("chegg.csv", encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
        return list(csvReader)

In [137]:
dd = read_csv()

In [138]:
new_dict = {"name":[],"age":[],"gender":[]};

In [139]:
def correction(dd):
    for i in dd:
        # Name Capitalize
        name = i['name'].capitalize()
        new_dict['name'].append(name)
        # Round Value
        round_val = round(float(i['age']))
        # Postive toNegative
        age = abs(round_val)
        new_dict['age'].append(age)
        # Age is Capitalize
        gender = i['gender'].capitalize()
        new_dict['gender'].append(gender)

In [141]:
def data_frame(new_dict):
    correction(dd)
    df = pd.DataFrame(new_dict)
    return df

In [142]:
data_frame(new_dict)

       name  age  gender
0      Rita   28  Female
1  Florance   26    Male
2      Irma   38  Female